_ngo/
_xmsgs/
iseconfig/
isim/
planAhead_run*/
.Xil/
xst/
xlnx_auto*/
sch2HdlBatchFile
*.bgn
*.bit
*.blc
*.bld
*.cfi
*.cmd
*.cmd_log
*.cpj
*.csv
*.debug
*.drc
*.en
*.exe
*.gise
*.html
*.ini
*.jhd
*.lock
*.log
*.lso
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.map
*.mcs
*.mrp
*.origin
*.pad
*.par
*.pcf
*.prj
*.prm
*.psr
*.ptwx
*.pwr
*.schlog
*.sig
*.spl
*.stx
*.syr
*.tcl
*.twr
*.twx
*.txt
*.unroutes
*.ut
*.vhf
*.vhi
*.wdb
*.xdc
*.xdl
*.xml
*.xmsgs
*.xpi
*.xrpt
*.xsl
*.xst
*.xwbt
