# main clock constrains
NET "CLK_IN_27MHZ" IOSTANDARD = LVCMOS33;
NET "CLK_IN_27MHZ" LOC = AB10;
NET "CLK_IN_27MHZ" TNM_NET = "CLK_IN_27MHZ";
TIMESPEC "TS_CLK_IN_27MHZ" = PERIOD "CLK_IN_27MHZ" 37.037 ns HIGH 50% INPUT_JITTER 74.074ps;

NET "DEV_NULL_BANK1" LOC = R17;
NET "DEV_NULL_BANK1" IOSTANDARD = LVCMOS33;
NET "DEV_NULL_BANK1" DRIVE = 2;
NET "DEV_NULL_BANK1" SLEW = SLOW;

NET "STM_IO_FPGA_READY" LOC = J16; # IO_3
NET "STM_IO_FPGA_READY" IOSTANDARD = LVCMOS33;
NET "STM_IO_MUL_RDY" LOC = A20; # IO_5
NET "STM_IO_MUL_RDY" IOSTANDARD = LVCMOS33; # IO_5
NET "STM_IO_MUL_DV" LOC = A21; # IO_6
NET "STM_IO_MUL_DV" IOSTANDARD = LVCMOS33; # IO_6
NET "STM_IO_MMU_INT" LOC = H17; # IO_7
NET "STM_IO_MMU_INT" IOSTANDARD = LVCMOS33; # IO_7

NET "FSMC_CLK" LOC = L17; # TIM8_CH2, hardwired to STM_IO_4
NET "FSMC_CLK" IOSTANDARD = LVCMOS33;
NET "FSMC_CLK" TNM_NET = "FSMC_CLK";
TIMESPEC "TS_FSMC_CLK" = PERIOD "FSMC_CLK" 16.0ns HIGH 33%;

NET "FSMC_NOE" LOC = V18;
NET "FSMC_NWE" LOC = V17;
NET "FSMC_NCE" LOC = V20;
NET "FSMC_NCE" IOSTANDARD = LVCMOS33;
NET "FSMC_NOE" IOSTANDARD = LVCMOS33;
NET "FSMC_NWE" IOSTANDARD = LVCMOS33;

NET "FSMC_NBL[1]" LOC = T17;
NET "FSMC_NBL[0]" LOC = T18;
NET "FSMC_NBL[0]" IOSTANDARD = LVCMOS33;
NET "FSMC_NBL[1]" IOSTANDARD = LVCMOS33;

NET "FSMC_A[22]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[21]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[20]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[19]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[18]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[17]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[16]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[15]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[14]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[13]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[12]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[11]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[10]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[9]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[8]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[7]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[6]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[5]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[4]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[3]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[2]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[1]" IOSTANDARD = LVCMOS33;
NET "FSMC_A[0]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[15]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[14]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[13]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[12]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[11]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[10]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[9]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[8]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[7]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[6]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[5]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[4]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[3]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[2]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[1]" IOSTANDARD = LVCMOS33;
NET "FSMC_D[0]" IOSTANDARD = LVCMOS33;


NET "FSMC_D[0]" LOC = R16;
NET "FSMC_D[1]" LOC = T15;
NET "FSMC_D[2]" LOC = Y20;
NET "FSMC_D[3]" LOC = Y19;
NET "FSMC_D[4]" LOC = P18;
NET "FSMC_D[5]" LOC = P17;
NET "FSMC_D[6]" LOC = AB20;
NET "FSMC_D[7]" LOC = AB19;
NET "FSMC_D[8]" LOC = P20;
NET "FSMC_D[9]" LOC = P19;
NET "FSMC_D[10]" LOC = Y22;
NET "FSMC_D[11]" LOC = Y21;
NET "FSMC_D[12]" LOC = P16;
NET "FSMC_D[13]" LOC = P15;
NET "FSMC_D[14]" LOC = AB21;
NET "FSMC_D[15]" LOC = AA20;
NET "FSMC_A[0]" LOC = T13;
NET "FSMC_A[1]" LOC = T12;
NET "FSMC_A[2]" LOC = W22;
NET "FSMC_A[3]" LOC = W20;
NET "FSMC_A[4]" LOC = R13;
NET "FSMC_A[5]" LOC = R12;
NET "FSMC_A[6]" LOC = AA22;
NET "FSMC_A[7]" LOC = AA21;
NET "FSMC_A[8]" LOC = V22;
NET "FSMC_A[9]" LOC = V21;
NET "FSMC_A[10]" LOC = U22;
NET "FSMC_A[11]" LOC = U20;
NET "FSMC_A[12]" LOC = T22;
NET "FSMC_A[13]" LOC = T21;
NET "FSMC_A[14]" LOC = R22;
NET "FSMC_A[15]" LOC = R20;
NET "FSMC_A[16]" LOC = P22;
NET "FSMC_A[17]" LOC = P21;
NET "FSMC_A[18]" LOC = N22;
NET "FSMC_A[19]" LOC = N20;
NET "FSMC_A[20]" LOC = M20;
NET "FSMC_A[21]" LOC = N19;
NET "FSMC_A[22]" LOC = M22;

NET "FSMC_D[15]" DRIVE = 4;
NET "FSMC_D[14]" DRIVE = 4;
NET "FSMC_D[13]" DRIVE = 4;
NET "FSMC_D[12]" DRIVE = 4;
NET "FSMC_D[11]" DRIVE = 4;
NET "FSMC_D[10]" DRIVE = 4;
NET "FSMC_D[9]" DRIVE = 4;
NET "FSMC_D[8]" DRIVE = 4;
NET "FSMC_D[7]" DRIVE = 4;
NET "FSMC_D[6]" DRIVE = 4;
NET "FSMC_D[5]" DRIVE = 4;
NET "FSMC_D[4]" DRIVE = 4;
NET "FSMC_D[3]" DRIVE = 4;
NET "FSMC_D[2]" DRIVE = 4;
NET "FSMC_D[1]" DRIVE = 4;
NET "FSMC_D[0]" DRIVE = 4;
NET "FSMC_D[15]" SLEW = FAST;
NET "FSMC_D[14]" SLEW = FAST;
NET "FSMC_D[13]" SLEW = FAST;
NET "FSMC_D[12]" SLEW = FAST;
NET "FSMC_D[11]" SLEW = FAST;
NET "FSMC_D[10]" SLEW = FAST;
NET "FSMC_D[9]" SLEW = FAST;
NET "FSMC_D[8]" SLEW = FAST;
NET "FSMC_D[7]" SLEW = FAST;
NET "FSMC_D[6]" SLEW = FAST;
NET "FSMC_D[5]" SLEW = FAST;
NET "FSMC_D[4]" SLEW = FAST;
NET "FSMC_D[3]" SLEW = FAST;
NET "FSMC_D[2]" SLEW = FAST;
NET "FSMC_D[1]" SLEW = FAST;
NET "FSMC_D[0]" SLEW = FAST;

#Created by Constraints Editor (xc6slx100t-csg484-3) - 2015/09/25
INST "FSMC_A<0>" TNM = fsmc_in;
INST "FSMC_A<1>" TNM = fsmc_in;
INST "FSMC_A<2>" TNM = fsmc_in;
INST "FSMC_A<3>" TNM = fsmc_in;
INST "FSMC_A<4>" TNM = fsmc_in;
INST "FSMC_A<5>" TNM = fsmc_in;
INST "FSMC_A<6>" TNM = fsmc_in;
INST "FSMC_A<7>" TNM = fsmc_in;
INST "FSMC_A<8>" TNM = fsmc_in;
INST "FSMC_A<9>" TNM = fsmc_in;
INST "FSMC_A<10>" TNM = fsmc_in;
INST "FSMC_A<11>" TNM = fsmc_in;
INST "FSMC_A<12>" TNM = fsmc_in;
INST "FSMC_A<13>" TNM = fsmc_in;
INST "FSMC_A<14>" TNM = fsmc_in;
INST "FSMC_A<15>" TNM = fsmc_in;
INST "FSMC_A<16>" TNM = fsmc_in;
INST "FSMC_A<17>" TNM = fsmc_in;
INST "FSMC_A<18>" TNM = fsmc_in;
INST "FSMC_A<19>" TNM = fsmc_in;
INST "FSMC_A<20>" TNM = fsmc_in;
INST "FSMC_A<21>" TNM = fsmc_in;
INST "FSMC_A<22>" TNM = fsmc_in;
INST "FSMC_D<0>" TNM = fsmc_in;
INST "FSMC_D<1>" TNM = fsmc_in;
INST "FSMC_D<2>" TNM = fsmc_in;
INST "FSMC_D<3>" TNM = fsmc_in;
INST "FSMC_D<4>" TNM = fsmc_in;
INST "FSMC_D<5>" TNM = fsmc_in;
INST "FSMC_D<6>" TNM = fsmc_in;
INST "FSMC_D<7>" TNM = fsmc_in;
INST "FSMC_D<8>" TNM = fsmc_in;
INST "FSMC_D<9>" TNM = fsmc_in;
INST "FSMC_D<10>" TNM = fsmc_in;
INST "FSMC_D<11>" TNM = fsmc_in;
INST "FSMC_D<12>" TNM = fsmc_in;
INST "FSMC_D<13>" TNM = fsmc_in;
INST "FSMC_D<14>" TNM = fsmc_in;
INST "FSMC_D<15>" TNM = fsmc_in;
INST "FSMC_NBL<0>" TNM = fsmc_in;
INST "FSMC_NBL<1>" TNM = fsmc_in;
INST "FSMC_NCE" TNM = fsmc_in;
INST "FSMC_NOE" TNM = fsmc_in;
INST "FSMC_NWE" TNM = fsmc_in;
TIMEGRP "fsmc_in" OFFSET = IN 8 ns VALID 16.0 ns BEFORE "FSMC_CLK" RISING;
INST "FSMC_D<0>" TNM = fsmc_out;
INST "FSMC_D<1>" TNM = fsmc_out;
INST "FSMC_D<2>" TNM = fsmc_out;
INST "FSMC_D<3>" TNM = fsmc_out;
INST "FSMC_D<4>" TNM = fsmc_out;
INST "FSMC_D<5>" TNM = fsmc_out;
INST "FSMC_D<6>" TNM = fsmc_out;
INST "FSMC_D<7>" TNM = fsmc_out;
INST "FSMC_D<8>" TNM = fsmc_out;
INST "FSMC_D<9>" TNM = fsmc_out;
INST "FSMC_D<10>" TNM = fsmc_out;
INST "FSMC_D<11>" TNM = fsmc_out;
INST "FSMC_D<12>" TNM = fsmc_out;
INST "FSMC_D<13>" TNM = fsmc_out;
INST "FSMC_D<14>" TNM = fsmc_out;
INST "FSMC_D<15>" TNM = fsmc_out;
TIMEGRP "fsmc_out" OFFSET = OUT 16.0 ns AFTER "FSMC_CLK";

